pre {
    font-family: Consolas;
    padding: 10px;
    margin: 10px;
    font-size:20px;overflow: auto;
}

pre.small {
    font-size:22px;
}

pre.medium {
    font-size:30px;
}


pre.big {
    font-size:36px;
}